.Order{
    width: 100%;
    border: 1px solid #eee;
    box-shadow:  0 2px 3px #ccc;
    padding: 10px;
    margin: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.ShowBurgerButton {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    box-shadow: 2px 2px 2px #966909;
}