.Container {
    width: 100%;
    height: 200px;
    background-color:  #CF8F2E;
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 1px #CCC;
    margin: auto;
}

.CreateBurgerButton {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #966909;
}